@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 40px auto;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    margin: 30px auto;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin: 20px auto;
  }
}


body {
  font-family: 'Nunito', sans-serif;
  background-color: ##F9F7F7;
  margin: 8px;
}

div {
  display: block;
}

h1 {
  color: #113CFC;
  font-size: 32px;
  font-weight: bold;
}

#intro {
  margin: 14px auto;
  color: #112D4E;
  font-size: 18px;
  font-weight: 800;
}

h2 {
  color: #113CFC;
  font-weight: 600;
}

.btn-blue {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background-color: #3F72AF;
  padding: 5px 10px;
  border-radius: 3px;
}

.btn-blue:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

a {
  text-decoration: none;
}

li  {
  font-size: 40px;
  color: #3F72AF;
}

li > a:visited {
  color: #3F72AF;
}

li > a:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.card-white {
  background-color: #DBE2EF;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.25);
  padding: 20px;
  text-align: center;
  margin: 20px 0px;
}


.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.img-circle {
  border-radius: 50%;
}
